body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

input,
button {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}